<div class="product-image">
    <img src="{{ product.url }}" height="300" width="300">
<div class="product-container">
    <label>{{ product.name }}</label>
    <br>
    <label>{{ product.price }}</label>
    <br>
    <label> {{ product.description }}</label>
    <select class="select-input">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
    </select>
    <br>
    <button class="btn btn-primary" (click)="add(product)">Add to Cart</button>
</div>
</div>